html, body, #app, .uhr {
  height: 100%; }

body {
  background: url("./newmap.png") no-repeat 0 -40px;
  background-size: cover; }

.uhr {
  background-color: rgba(255, 255, 255, 0.35); }

.kompanie {
  height: 100px; }

.kompanie * {
  display: inline-block; }

.otto, .otto img {
  height: 200px; }

.otto cite {
  background: rgba(255, 255, 255, 0.5);
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  max-width: 200px; }

.panzerwagen img {
  height: 100px; }

.soldat img {
  height: 80px; }
